asgiref==3.2.7
astroid==2.3.3
autopep8==1.5.3
beautifulsoup4==4.9.0
bleach==3.3.0
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
conf==0.4.1
cryptography==3.3.2
cssselect==1.1.0
decorator==4.4.2
defusedxml==0.7.0rc1
dicttoxml==1.7.4
dj-database-url==0.5.0
Django==3.0.7
django-bootstrap3==12.1.0
django-braces==1.14.0
django-heroku==0.3.1
django-oauth-toolkit==1.3.2
django-rest-framework-social-oauth2==1.1.0
django-selenium==0.9.8
django-settings==1.3.12
djangorestframework==3.11.0
docutils==0.16
EasyProcess==0.3
future==0.18.2
geocoder==1.38.1
geoip2==3.0.0
gunicorn==20.0.4
html5lib==1.0.1
idna==2.9
importlib-metadata==1.6.1
ip2geotools==0.1.5
IP2Location==8.4.1
isort==4.3.21
keyring==21.2.1
lazy-object-proxy==1.4.3
lxml==4.6.2
maxminddb==1.5.4
mccabe==0.6.1
numpy==1.21.0
oauth2-provider==0.0
oauthlib==3.1.0
opencv-python==4.3.0.36
packaging==20.4
Pillow==7.1.0
pip-review==1.1.0
pkginfo==1.5.0.1
psycopg2==2.8.4
public==2019.4.13
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.6.1
PyJWT==2.4.0
pylint==2.4.4
pyparsing==2.4.7
pyquery==1.4.1
python-dateutil==2.8.1
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2019.3
PyVirtualDisplay==1.3.2
pywin32-ctypes==0.2.0
query-string==2019.4.13
ratelim==0.1.6
readme-renderer==26.0
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
selenium==3.141.0
serializers==0.2.4
simplejson==3.17.0
six==1.14.0
social-auth-app-django==3.4.0
social-auth-core==3.3.3
soupsieve==2.0
sqlparse==0.3.1
toml==0.10.1
tqdm==4.46.1
twine==3.1.1
typed-ast==1.4.1
typing==3.7.4.1
urllib3==1.25.9
webencodings==0.5.1
whitenoise==5.0.1
wrapt==1.11.2
xlrd==1.2.0
zipp==3.1.0
